<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

    </ion-buttons>
    <ion-title>Recuperar Contaseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
 
 
  <ion-card>
    <br>
    <br>
    <ion-card-subtitle>Ingrese su correo.</ion-card-subtitle>
    <br>
  <br>
  <br>
  <br>
    <form >
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input ></ion-input>
      </ion-item>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
     
      <ion-button color="secondary" type="submit" expand="block" (click)="presentAlert()" >Recuperar contraseña</ion-button>
    </form>

  </ion-card>
  

</ion-content>
