<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menu principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="registrar-producto">registrar-producto</ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle>
        <ion-item routerLink="modificar-producto">modificar-producto</ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle>
        <ion-item  routerLink="registro-proveedor">registro-proveedor</ion-item> 
      </ion-menu-toggle>

      
      <ion-menu-toggle>
        <ion-item routerLink="consultar-producto" >consultar-producto</ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle>
        <ion-item  routerLink="informes">informe</ion-item>
      </ion-menu-toggle>

     
      
    </ion-list>
  </ion-content>
</ion-menu>