
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-title>Menu principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="registro-producto">Crear producto</ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle>
        <ion-item routerLink="modificar-producto">Modificar Producto</ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle>
        <ion-item  routerLink="modificar-producto">Ingresar Producto</ion-item> 
      </ion-menu-toggle>

      
      <ion-menu-toggle>
        <ion-item routerLink="consultar-producto" >Consultar Producto</ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle>
        <ion-item  routerLink="registro-proveedor">Crear Proveedor</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item  routerLink="Informe">Informe</ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle>
        <ion-item routerLink="login">Salir</ion-item>
      </ion-menu-toggle>
     
      
    </ion-list>
  </ion-content>