<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

    </ion-buttons>
    <ion-title>Registrar producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <form >
      <ion-item>
        <ion-label  position="floating">Nombre:</ion-label>
        <ion-input  ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label  position="floating">Peso:</ion-label>
        <ion-input  ></ion-input>
      </ion-item>

  
      
      <p class="ion-text-center" >
      <ion-button color="secondary" type="submit">Registrar</ion-button>
      
      </p>  
       
    </form>

  </ion-card>

</ion-content>
